@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cce7ff;
    padding: 50px;
    height: 70.5rem;
    gap: 10rem;
}
.banner-content {
    max-width: 700px;
    text-align: left;
}
.discount-text {
   font-family: Yellowtail;
    color: #007bff;
    font-size: 32px;
}
.title {
    font-size: 80px;
    font-weight: bold;
    line-height: 1.2;
}
.subtitle {
    font-size: 22px;
    color: gray;
    margin-top: 15px;
}
.shop-button {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 22px;
    border-radius: 40px;
    transition: background 0.3s;
}
.shop-button:hover {
    background-color: #0056b3;
}
.banner-image {
    max-width: 737px;
    height: 794px;
    border-radius: 20px;
}





@media screen and (max-width: 576px) {
    .banner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 25px;
        height: auto;
        gap: 2rem;
    }

    .banner-image {
        display: none;
    }

    .banner-content {
        text-align: left;
        max-width: 100%;
    }

    .discount-text {
        font-size: 28px;
    }

    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 20px;
    }

    .shop-button {
        font-size: 20px;
        padding: 18px 35px;
    }
}


@media screen and (max-width: 768px) {
    .banner {
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 25px;
        height: auto;
        gap: 2rem;
    }

    .banner-image {
        display: none; 
    }

    .banner-content {
        text-align: left;
        max-width: 100%;
    }

    .discount-text {
        font-size: 28px;
    }

    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 20px;
    }

    .shop-button {
        font-size: 20px;
        padding: 18px 35px;
    }
}
