@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* Start Banner */
.category_banner {
    max-width: 1200rem;
    height: 30rem;
    background-image: url(../images/category.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.category_banner h2 {
    width: 100%;
    max-width: 114rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-family: Playfair;
    text-align: center;
    font-weight: bold;
    padding-top: 15rem;
    padding-left: 30rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Banner End */


/* Body Start */
body {
    overflow-x: hidden;
}

/* Body End */



/* Start Login Container */

.login_container {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/* Start Left Container */
.left_container {
    width: 55.5rem;
    height: 60rem;
    padding: 8rem 7rem;
    background-color: #634661;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    gap: 2rem;
    border-radius: 3rem;
}

.left_container h2 {
    font-family: playfair;
    font-size: 30px;
    margin: 0, 0, 17px;

}

.left_container p {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0, 0, 17px;

}


.signup {
    margin-top: 3rem;
    width: 22rem;
    height: 5.9rem;
    background-color:#634661;
    border: 2px solid white;
}

.signup a {
  color: white;
  font-size: 1.4rem;
  margin-top: 2rem;
  font-family: sans-serif;

}

/* End Left Container */

/* ----------------------------------- */

/* Start Right Container */

.right_container {
    width: 55.5rem;
    height: 60rem;
    padding: 8rem 7rem;
    display: flex;
    flex-direction: column;
   
}

.right_container h2 {
    font-family: playfair;
    font-size: 2.6rem;
}

.login_area form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.login_area input[type="text"] {
    width: 41.5rem;
    height: 3.8rem;
    background-color: white;
    outline: none;
    pad: 6px 12px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1.6rem;
    font-family: sans-serif;
}

.login_area input[type="password"] {
    width: 41.5rem;
    height: 3.8rem;
    background-color: white;
    outline: none;
    pad: 6px 12px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1.6rem;
    font-family: sans-serif;
}

.remember {
    display: flex;
    justify-content: left;
    gap: 1rem;
    font-size: 1.4rem;
    color: gray;

}

 .login_area button {
  width: 41.5rem;
  height: 6.1rem;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  cursor: pointer;
  font-size: 1.7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login_area button:hover {
    background-color: blue;
    color: white;
    transition: 1s;
  }

.forget {
    font-size: 1.6rem;
    color: gray;
    text-align: right;
    margin-top: 1.4rem;
}

.forget a {
    color: gray;
    font-family: sans-serif;
}

.forget a:hover {
    color: red;
    transition: 1s;
}
/* End Login Container */


/* Footer Start */

.footer_container {
    margin-top: 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* Footer Logo */

.logo_img {
    width: 26.2rem;
    height: 2.5rem;
}

.logo_img img {
width: 10.2rem;
height: 2.3rem;
}

.logo_desc {
    width: 26.2rem;
    font-family: poppins;
    font-size: 1.6rem;
    color: gray;
    margin-top: 2.5rem;
}

/* Footer Logo End */

/* Qucik Links  Start */
.quick_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: poppins;
}

.quick_links h2 {

    font-size: 2.2rem;
    font-weight: bold;
}

.quick_links ul {
    margin-top: 2rem;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    gap: 1.5rem;
}

.quick_links ul li a  {
   text-align: left;
    color: gray;
    font-size: 1.6rem;
}

.quick_links ul li a:hover {
    color: blue;
    margin-left: 1rem;
    transition: 1s;
}

/* Qucik Links End */


/* Product Links Start */

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: poppins;
}

.products h2 {

    font-size: 2.2rem;
    font-weight: bold;
}

.products ul {
    margin-top: 2rem;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    gap: 1.5rem;
}

.products ul li a  {
   text-align: left;
    color: gray;
    font-size: 1.6rem;
}
.products ul li a:hover  {
    color: blue;
    margin-left: 1rem;
    transition: 1s;
}

/* Products Link End */

/* Support Link Start */

.support_link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: poppins;
}

.support_link h2 {
    margin-right: 5rem;
    font-size: 2.2rem;
    font-weight: bold;
}

.support_link ul {
    margin-top: 2rem;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    gap: 1.5rem;
}

.support_link ul li a  {
   text-align: left;
    color: gray;
    font-size: 1.6rem;
}

.support_link ul li a:hover  {
    color: blue;
    margin-left: 1rem;
    transition: 1s;
}
/* Support Link End */

/* Copyration Start */

.copyration {
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    font-family: poppins;

}


.social {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
   
}


/* End Copyration */

/* Footer End */

/* --------------------------------------------------*/

/* MediaQuery 768 && 576 */

/* Responsive 768px */
@media screen and (max-width: 768px) {
    .category_banner {
        max-width: 100%;
        height: 25rem;
    }

    .category_banner h2 {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-family: Playfair;
        text-align: center;
        font-weight: bold;
        padding-left: 0;
    }


/* Login */


.login_container {
    display: flex;
    flex-direction: column;    
}
/* End Login */

/* Footer Start */

.footer_container{
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.footer_logo{
    margin-left: 1rem;
}
.footer_logo p {
    width: 50rem;
}
.copyration {
    text-align: center;
    flex-direction: column;
}
/* Footer End */

}






/* End 768 */



/* ----------------------------------------------- */

/* Responsive 576px */
@media screen and (max-width: 576px) {
    .category_banner {
        max-width: 100%;
        height: 25rem;
    }

    .category_banner h2 {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        font-family: Playfair;
        text-align: center;
        font-weight: bold;
        padding-left: 0;
    }

/* login */
    .login_container {
        display: flex;
        flex-direction: column;    
    }
/* End Login */

/* Footer Start */

.footer_container{
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.footer_logo{
    margin-left: 1rem;
}
.footer_logo p {
    width: 50rem;
}
.copyration {
    text-align: center;
    flex-direction: column;
}

/* Footer End */

}



/* End 576px */